<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Editing Condition</h3>
    </div>
	<div class="panel-body">
        <%= render 'form' %>

        <%= link_to 'Show', @condition %> |
        <%= link_to 'Back', conditions_path %>
	</div>
</div>

